<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Skycoder Labs | Home</title>
        <link rel="stylesheet" href="css/foundation.css" />
        <link rel="stylesheet" href="css/site.css" />

        <script src='/js/vendor/jquery.min.js'></script>
        <script src='/js/vendor/angular.min.js'></script>
        <script src="/js/vendor/modernizr.js"></script>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/script.js"></script>
    </head>
    <body ng-app="myApp">
        <div class="row">
            <div id="page-title" class="medium-6 large-6 small-12 columns text-center">
                <h1>Streaming Text</h1>
                <p>A simple NodeJS SocketJS demo</p>
            </div>
            <div class="small-12 medium-6 large-6 columns" 
                    ng-controller="MessageEmitController">
                <div id="emit-form" class="panel">
                    <div class="row collapse">
                        <div class="small-10 columns">
                             <input ng-model="data.message" type="text" placeholder="Emit a message to all listeners">
                        </div>
                        <div class="small-2 columns">
                            <button ng-click="saveMessage()" 
                            ng-disabled="data.message == ''" class="button postfix">Go</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel">
                <div class="small-12 medium-12 large-12">
                        <ul ng-controller="LogController">
                            <li ng-repeat="log in logs | orderBy:'-Timestamp'">
                                <span style="color:{{log.Color}}">{{log.Timestamp|date:"dd/MM/yy HH:mm:ss"}}: {{log.Source}} - {{log.Message}}</span>
                            </li>
                        </ul>
                </div>
            </div>
        </div>
    </body>
</html>
